dataset/ filter=lfs diff=lfs merge=lfs -text
class_mapping.json filter=lfs diff=lfs merge=lfs -text
kagglehub[[:space:]]install.py filter=lfs diff=lfs merge=lfs -text
dataset filter=lfs diff=lfs merge=lfs -text
model.pth filter=lfs diff=lfs merge=lfs -text
__pycache__ filter=lfs diff=lfs merge=lfs -text
readme.md filter=lfs diff=lfs merge=lfs -text
handler.py filter=lfs diff=lfs merge=lfs -text
model.py filter=lfs diff=lfs merge=lfs -text
roc[[:space:]]plot.py filter=lfs diff=lfs merge=lfs -text
Task2.py filter=lfs diff=lfs merge=lfs -text
архив filter=lfs diff=lfs merge=lfs -text
there_is_our_server filter=lfs diff=lfs merge=lfs -text
dataset[[:space:]]refactoring.py filter=lfs diff=lfs merge=lfs -text
logs filter=lfs diff=lfs merge=lfs -text
requirements.txt filter=lfs diff=lfs merge=lfs -text
server.py filter=lfs diff=lfs merge=lfs -text
starting[[:space:]]server.txt filter=lfs diff=lfs merge=lfs -text
testResults filter=lfs diff=lfs merge=lfs -text
